@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

input::placeholder,textarea::placeholder{
    color: rgb(122, 121, 121);
    
}

/* .border-or{
    border: 2px solid orange;
}

.border-re{
    border: 2px solid red;
} */
.border-tea{
    border: 2px solid teal;
}

.border-b{
    border:2px solid blue
}

.border-c{
    border:2px solid crimson
}

.vertical-line {
    height: 1.5rem; /* Set the height of the line as needed */
    width: 0.16rem; /* Set the width of the line */
    background-color: #9d4edd; /* Set the color of the line */
    margin: 0 1rem; /* Adjust the margin to control the space around the line */
    
  }